model:
  path: "models/model.pt"
  path_onnx: "models/model.onnx"
  path_to_rus_vocab: "models/rus_vocab.pickle"
  path_to_eng_vocab: "models/eng_vocab.pickle"
  hid_dim: 64
  enc_layers: 1
  dec_layers: 1
  enc_heads: 1
  dec_heads: 1
  enc_pf_dim: 64
  dec_pf_dim: 64
  enc_dropout: 0.1
  dec_dropout: 0.1

train:
  mlflow_uri: "http://127.0.0.1:8080"
  random_state: 42 # or null for None
  path_to_dataset: "data/data.txt"
  batch_size: 128
  learning_rate: 0.0005
  n_epochs: 2
  clip_grad: 1.0

infer:
  random_state: 42 # or null for None
  # criterion_name: "${train.criterion_name}"
